/*color text: #2a2770*/
/*color text: #6D7027*/

*{
	box-sizing: border-box;
	font-family: 'Merriweather Sans', sans-serif;
	color: rgba(42,39,112,1);
	scroll-behavior: smooth;
}

body{
	background-image: url(../images/15.jpg);
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
}

section{
	height: 100vh;
	border: 1px solid gray
}

span{
	font-weight: bold;
}

/*Start of Header page*/
#landing{
	margin-top: 5vh;
	margin-left: 2vh;
	margin-right: 2vh;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,194,214,.5) 100%);
}

#landing > div > div> img{
	height: 10vh;
	width: 10vh;
	transition: transform 3s;
	transform-style: preserve-3d;
}

#landing > div > div> img:hover{
	transform: rotateY(360deg);
}

#title{
	padding: 3vh;
}

#title{
	transition: transform 2s;
}

#title:hover{
	transform: scale(1.2);
	color: #6D7027;
}

#subtitle:hover{
	color: #6D7027
}

.btn{
	margin: 5vh;
	height: 5vh;
	width: 20vh;
	border-radius: 15px;
	border-style: none;
	background-color: rgba(42,39,112,1);
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.20);
}

#landing > div > div > .btn > a {
	color: whitesmoke;
}

#landing > div > .btn{
	transition: transform 2s;
}

.btn:hover{
	background-color: #6D7027;
}
/*End of Header page*/

/*Start of Navigation bar*/
nav{
	padding: 0;
	height: 9vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 10000;
	background-color: rgba(255,255,255,.8);
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.2);
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style-type: none;
}

nav > div > a > img{
	display: flex;
	height: 7vh;
	width: 7vh;
	transition: transform 3s;
	transform-style: preserve-3d;
}

nav > div> a > img:hover{
	transform: rotateY(360deg);
}

nav > div > h1{
	font-size: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transition: .1s
}

nav > div > h1:hover{
	color: rgba(109,112,39,1);
}

nav > ul > li{
	position: relative;
	transition: 1s
}

nav > div > ul > li{
	font-size: 2vh;
	margin-left: 3vh;
}

a:link{
	text-decoration: none;
	color: rgba(42,39,112,1);
}

a:visited{
	text-decoration: none;
	color: rgba(42,39,112,1);
}

a:hover{
	color: rgba(109,112,39,1);
}
/*End of Navigation bar*/

/*Start of Home page */

#home{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,194,214,.7) 100%);
}

.home-title{
	font-size: 4vh;
	padding-top:10vh;
}

.left-home > ul{
	list-style-type: square;
}
.left-home > ul > li{
	font-size: 2.2vh;
}

.left-home{
	height: 100vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	padding-right: 5vh;
}

.left-content > p{
	padding: 1vh;
	font-size: 2.2vh;
	text-align: justify;
}

.right-home{
	height: 100vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.right-home > img{
	margin: 2vh;
	height: 22vh;
	width: 22vw;
	border-radius: 10%;
	transition: transform 1s ease;
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.5);
}

.right-home > img:hover{
	transform: scale(1.3);
}

/*End of Home page */

/*Start of Services page*/
#services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,194,214,.7) 100%);
}

#services > h2{
	padding-top:7vh;
}

.service2 > ul{
	font-size: 2vh;
	width: 150vh;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.service2 > ul > li{
	margin:0;
	padding: 0;
}	
.service2 > span{
	font-size: 1px bold;
}

.service-image > img{
	border-radius: 50%;
	border-color: #6D7027;
	border-style: solid;
	height: 15vh;
	width: 15vh;
}

/*End of Services page*/

/*Start of Projects page*/
#projects{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,194,214,.7) 100%);
	background-size: cover;
}

#projects > div{
	width: 35vw;
	padding: 3vh 2vw;
	margin:4vh;
	padding:0;
}

#projects > div > h4{
	margin:0;
	padding:.5vh;
}

.scrollable-ol {
	overflow-y: auto; 
	height: 30vh;
	border: 1px solid rgba(109,112,39,1);
    background-color: lightgray;
    border-radius: 1%
}
#projects > div > ol {
	list-style-type: lower-alpha;
	font-size: 2vh;
}

#projects > div > ol > li{
	padding: 1vh;
	font-size: 2vh;
}
/*End of Projects page*/

/*Start of Gallery page*/
#gallery{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	text-align: center;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,194,214,.7) 100%);
	background-size: cover;
}

#gallery > div > a > img{
	border-radius: 3%;
	border: 5px solid #6D7027;
	height: 25vh;
	width: 40vh;
	margin-top: 5vh;
}

#gallery > div > a > img:hover{
	opacity: 0.7;
	border: 5px solid whitesmoke;
}
/*End of Gallery page*/

/*Start of Contact Page*/
#contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(194,194,214,.7) 100%);
	background-size: cover;
}

.contact-icon{
	display: flex;
	margin-top: 10vh;
	padding: 0;
}

.contact-icon > div{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10vh;
	padding-right: 10vh;
}

.contact-icon > div > img{
	height: 4vh;
	width: 2vw;
	display: flex;
	border-color: #6D7027;
	border-radius: 50%; 
}

.contact-icon > div> p{
	font-size: 2vh;
	margin: 0;
	padding-top: 1vh;
}

.contactbox {
	display: flex;
	margin-top: 5vh;
}

.contact-form{
	padding-top: 2vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
}

.contact-map{
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
	padding:1vh;
	display: block;
	border: 1px solid #2A2770;
	margin: 2vh auto;
	height: 5vh;
	width: 30vw;
	border-radius: 5px;
}

.inquiry{
	height: 15vh;
	width: 30vw;
}

.contactbox > div > form >.btn {
	color: whitesmoke;
}

.contact-form > p{
	font-size: 2.2vh;
}
/*End of Contact page*/

/*Start of Footer*/
footer{
	text-align: center;
	background-color: rgba(255,255,255,.8);
	background-size: cover;
	font-size: 2vh;	
	padding: 0;
}
footer > p{
	padding: 0;
	margin:0;
}
/*End of Footer*/

/*Media Queries*/
/*for responsive*/
@media only screen and (max-width: 1280px){
	.btn > a{
		font-size: 1rem;
	}

	.home-title{
		padding-top: 7vh;
	}

	.right-home{
		padding-top: 7vh;
	}

	.service2 {
		margin:0;
		padding: 0;
		width: 85%;
	}

	#projects > div > h4{
		margin: 0;
		padding: 0;
	}

	.scrollable-ol > li > p{
		margin:0;
		padding: 0;
	}

	.contact-icon > div > img{
		height: 3vh;
		width: 3vh;
	}

	iframe{
		width: 60vh;
		height:60vh;
	}
}


/*Media Queries*/
/*for ipad*/
@media only screen and (min-width: 376px) and (max-width: 768px){
	/**{
		margin:0;
		padding: 0;
	}*/

	/*start of landing page*/
	#landing{
		margin: 1rem;
		height: 110vh;
  	}

	#title {
		font-size: 2.5rem;
	}

	.btn > a{
		font-size: 2rem;
	}

	#subtitle{
		font-size: 2rem;
	}
	/*end of landing page*/

	nav > div > h1{
		margin-bottom: 0;
		padding: 0;
	}

	.nav > li{
		margin-top: 0;
		margin-left:2vh;
		padding: 0;
	}


	/*start of home page*/
	#home{
		display: flex;
		flex-direction: column;
	}
	.left-home{
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 90vh;
	}
		
	.left-home > h1{
		font-size: 1.5rem;
		margin-left: 10vw;
	}

	.left-home > ul > li{
		font-size: 1.1rem;
		margin-left: 10vw;
	}

	.left-content > p{
		font-size: 1.1rem;
		margin-left: 8vw;
	}

	.right-home{
		margin: 0;
		padding: 0;
		height: 80vh;
		display: flex;
		flex-direction: row;
	}

	.right-home > img{
		margin:.5vw;
		height: 15vh;
		width: 30vw;
		transition: transform 1s ease;
		box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.4);
	}

	.right-home > img:hover{
		transform: scale(1.2);
	}
	/*End of home page*/

	/*start of service page*/
	.service2 > ul {
		width: 85vw;
		font-size: 1.1rem;
		text-align: justify;
	}
	/*End of service page*/

	/*Start of Projects page*/
	#projects{
		display: flex;
		flex-direction: column;
		margin:0;
		padding: 0;
	}

	#projects > div{
		width: 80vw;
		margin: 0;
	}
	.scrollable-ol {
		height: 15vh;
	}

	#projects > div > ol {
		font-size: 1.5rem;
	}

	#projects > div > ol > li{
		font-size: 1.1rem;
	}
	/*End of Projects page*/

	/*Start of Gallery page*/
	#gallery > div > a > img{
		height: 15vh;
		width: 40vw;
	}
	/*End of Gallery page*/

	/*Start of Contact page*/
	.contact-icon{
		margin-top:0;
	}
	.contact-icon > div{
		padding: 0;
		margin-top: 4vh;
	}

	.contact-icon > div > img{
		height: 2vh;
		width: 3vw;
		/*padding: 1vw;*/
		margin-bottom: 2vw;
	}

	.contact-icon > div> p{
		font-size: 1rem;
		padding: 0;
	}

	.contactbox {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	.contact-form{
		padding-top: 5vw;
		width: 80vw;
	}

	iframe {
		height: 30vh;
		width: 70vw;
		margin-left: 40vw;
	}

	input{
		padding:.5vh;
		display: block;
		margin: 1vh auto;
		height: 3vh;
		width: 50vw;
		border-radius: 5px;
		border: 1px solid #2A2770;
	}

	.inquiry{
		height: 8vh;
		width: 50vw;
	}

	.contactbox > div > form >.btn {
		color: whitesmoke;
		margin: 1vh;
		height: 4vh;
		width: 50vw;
		font-size: 1.5rem;
	}

	.contact-form > p{
		font-size: 1.1rem;
	}
	/*End of Contact page*/
	footer{
		font-size: 1rem;
	}
}

/*Media Queries*/
/*for iPhone 6/7/8*/
@media only screen and (max-width: 375px){
	*{
		margin:0;
		padding: 0;
	}

	/*start of landing page*/
	#landing{
		margin: .5rem;
		height: 150vh;
  	}

	#title {
		font-size: 1.4rem;
	}

	.btn > a{
		font-size: 1.2rem;
	}

	#subtitle{
		font-size: 1.2rem;
	}
	/*end of landing page*/

	nav > div > h1{
		margin-bottom: 0;
		padding: 0;
	}

	.nav > li{
		margin-top: 0;
		margin-left:1vh;
		padding: 0;
	}


	/*start of home page*/
	#home{
		display: flex;
		flex-direction: column;
	}
	.left-home{
		display: flex;
		flex-direction: column;
		width: 100vw;
		/*height: 90vh;*/
	}
		
	.left-home > h1{
		font-size: 1.2rem;
		margin-left: 10vw;
		text-align: center;
	}

	.left-home > ul > li{
		font-size: 1rem;
		margin-left: 11vw;
	}

	.left-content > p{
		font-size: 1rem;
		margin-left: 8vw;
	}

	.right-home{
		display: none;
	}

	.right-home > img{
		margin:.5vw;
		height: 15vh;
		width: 30vw;
		transition: transform 1s ease;
		box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.4);
	}

	.right-home > img:hover{
		transform: scale(1.2);
	}
	/*End of home page*/

	/*start of service page*/
	.service2 > ul {
		width: 85vw;
		font-size: 1.1rem;
		text-align: justify;
	}
	/*End of service page*/

	/*Start of Projects page*/
	#projects{
		display: flex;
		flex-direction: column;
		margin:0;
		padding: 0;
	}

	#projects > div{
		width: 80vw;
		margin: 0;
	}
	.scrollable-ol {
		height: 15vh;
	}

	#projects > div > ol {
		font-size: 1.5rem;
	}

	#projects > div > ol > li{
		font-size: 1.1rem;
	}
	/*End of Projects page*/

	/*Start of Gallery page*/
	#gallery > div > a > img{
		height: 15vh;
		width: 40vw;
	}
	/*End of Gallery page*/

	/*Start of Contact page*/
	.contact-icon{
		margin-top:0;
	}
	.contact-icon > div{
		padding: 0;
		margin-top: 4vh;
	}

	.contact-icon > div > img{
		height: 2vh;
		width: 3vw;
		/*padding: 1vw;*/
		margin-bottom: 2vw;
	}

	.contact-icon > div> p{
		font-size: 1rem;
		padding: 0;
	}

	.contactbox {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	.contact-form{
		padding-top: 5vw;
		width: 80vw;
	}

	iframe {
		height: 30vh;
		width: 70vw;
		margin-left: 40vw;
	}

	input{
		padding:.5vh;
		display: block;
		margin: 1vh auto;
		height: 3vh;
		width: 50vw;
		border-radius: 5px;
		border: 1px solid #2A2770;
	}

	.inquiry{
		height: 8vh;
		width: 50vw;
	}

	.contactbox > div > form >.btn {
		color: whitesmoke;
		margin: 1vh;
		height: 4vh;
		width: 50vw;
		font-size: 1.5rem;
	}

	.contact-form > p{
		font-size: 1.1rem;
	}
	/*End of Contact page*/
	footer{
		font-size: 1rem;
	}
}